body {
  color: white;
}
.text-primary {
  color: white !important;
}

.wizzar-conteiner abs-center{
  width: 90%;
  max-width: 600px;
}
.cargo{
  font-size: 1em;
  font-weight: bold;
  margin-top: -12px;
}
#cotizaciones{
  color: black;
}
@media (max-width: 991px) {
  .img-logo {
    padding-top: 15px;
  }
}
